<div class="d-flex justify-content-center"><%= render 'searches/form' %></div>
<div class="container">
  <% if newbook.errors.any? %>
    <div>
      <h3><%= newbook.errors.count %> errors prohibited this obj from being saved:</h3>
      <ul>
        <% newbook.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/userinfo_newbook', user: user, newbook: newbook %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 110px;"></th>
            <th style="width: 200px;">Title</th>
            <th>Opinion</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% books.each do |book| %>        
            <tr>
              <td style="width: 110px;">
                <%= link_to user_path(book.user) do %>
                  <%= image_tag book.user.get_profile_image(90,90) %>
                <% end %>
              </td>
              <td style="width: 200px;">
                <%= link_to book_path(book) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
              <td><%= link_to "show", user_path(book.user) %></td>
              <% if book.favorited_by?(current_user) %>
                <td>
                  <%= link_to book_favorite_path(book), method: :delete do %>
                    ♥<%= book.favorites.count %> いいね
                  <% end %>
                </td>
              <% else %>
                <td>
                  <%= link_to book_favorite_path(book), method: :post do %>
                    ♡<%= book.favorites.count %> いいね
                  <% end %>
                </td>
              <% end %>
              <td>
                <%= book.book_comments.count %> コメント
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
