<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>

      <%= image_tag @user.get_profile_image(100,100) %>

      <div class="d-flex  pt-4 border-top">
        <h6 class="mr-5 font-weight-bold">name</h6>
        <h6 class="ml-5 font-weight-bold"><%= @user.name %></h6>
      </div>
      <div class="d-flex pt-4 border-top ">
        <h6 class="mr-5 font-weight-bold">introduction</h6>
        <h6 class="mr-5 font-weight-bold"><%= @user.introduction %></h6>
      </div>

      <div class="d-flex pt-5">
        <%= link_to edit_user_registration_path, class: "btn btn-outline-secondary w-100" do %>
          <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </div>

      <h2 class="mt-2">New Book</h2>
      <%= form_with model: @book, url: books_path, method: :post do | f| %>
        <div class="field mt-1">
          <%= f.label :title %>
        </div>
        <div class="field mt-1">
          <%= f.text_field :title, size: 27 %>
        </div>
        <div class="field mt-1">
          <%= f.label :body %>
        </div>
        <div class="field mt-1">
          <%= f.text_area :body, cols: 27 %>
        </div>
        <div class="field mt-2">
          <%= f.submit "Create Book", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h1>Books</h1>
      <table class="table table-sm">
        <thead>
          <tr>
            <th style="width: 110px;"></th>
            <th style="width: 200px;">Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>        
            <tr>
              <td style="width: 110px;">
                <%= link_to user_path(book.user) do %>
                  <%= image_tag book.user.get_profile_image(90,90) %>
                <% end %>
              </td>
              <td style="width: 200px;">
                <%= link_to book_path(book) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
