<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/userinfo_newbook', user: @user, newbook: @newbook %>
    </div>

    <div class="col-md-8 offset-md-1">
      <table class="table table-sm">
        <thead>
          <tr>
            <th><h2>Book detail</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 200px;">
              <%= link_to user_path(@book.user) do %>
                <%= image_tag @book.user.get_profile_image(90,90) %>
                <br><%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book), class:"btn btn-success"%>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
              <% end %>  
            </td>
            <% if @book.favorited_by?(current_user) %>
              <td>
                <%= link_to book_favorite_path(@book), method: :delete do %>
                  ♥<%= @book.favorites.count %> いいね
                <% end %>
              </td>
            <% else %>
              <td>
                <%= link_to book_favorite_path(@book), method: :post do %>
                  ♡<%= @book.favorites.count %> いいね
                <% end %>
              </td>
            <% end %>
            <td>コメント件数：<%= @book.book_comments.count %></td>
          </tr>
        </tbody>
      </table>
      <% @book.book_comments.each do |book_comment| %>
        <%= book_comment.comment %>
      <% end %>
      
      <%= form_with model: [@book, @book_comment] do |f| %>
        <div>
          <%= f.text_area :comment, rows: '5', cols: '85', placeholder: "コメントをここに" %>
        </div>
        <div>
          <%= f.submit "送信する" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
